nav {
	position: absolute;
	width: 100%;
	z-index: 9999;

	.menu-itens {
		width: 1000px;
		padding-top: 30px;
		margin-left: auto;
		margin-right: auto;

		.logo {
			display: table;
			margin-right: auto;

			img {
				width: 50px;
			}
		}

		ul {
			margin: 0px;

			li {
				list-style: none;
				display: inline-block;
				margin-right: 45px;

				a {
					text-decoration: none !important;
					color: #140a17;
				}
			}
		}
	}


}


@media (max-width: 576px) {

}

@media (max-width: 850px) {
	nav{
		display: none;
	}
}

@media (max-width: 992px) {
	.menu {}
}

@media (max-width: 1200px) {}