nav {
	position: absolute;
	width: 100%;
	z-index: 9999;

	.menu-itens {
		width: 1000px;
		padding-top: 30px;
		margin-left: auto;
		margin-right: auto;

		.logo {
			display: table;
			margin-right: auto;

			img {
				width: 50px;
			}
		}

		ul {
			margin: 0px;

			li {
				list-style: none;
				display: inline-block;
				margin-right: 45px;

				a {
					text-decoration: none !important;
					color: #140a17;
				}
			}
		}
	}


}

.mobile-menu {
	display: none;
}


@media (max-width: 576px) {}

@media (max-width: 850px) {
	nav {
		display: none;
	}

	.mobile-menu {
		display: block;

		/* Style the navigation menu */
		.barra-menu {
			overflow: hidden;
			background-color: #333;
			position: relative;

			.icon {
				background: black;
				display: block;
				position: absolute;
				right: 0;
				top: 0;
			}


			a {
				color: white;
				padding: 14px 25px;
				text-decoration: none;
				font-size: 17px;
				display: block;

				img {
					width: 20px;
					filter: invert(1);
				}

				&:hover {
					background-color: #ddd;
					color: black;
				}

			}

			#links {
				display: none;
			}
		}


		.active {
			background-color: rgba(0, 0, 0, 0.9);
			color: #140a17;
		}
	}

}

@media (max-width: 992px) {
	.menu {}
}

@media (max-width: 1200px) {}